@import '../../../_common/styles/common.scss';


#banner{
	background-color: black;
	width: 728px;
	height: 90px;
}

.mask{
	position: absolute;
	top:0;
	left:0;
	width: 50%;
	height: 100%;	
	overflow: hidden;
}
